---
interface Props {
  frontmatter: {
    title: string;
    subtitle?: string;
    description?: string;
    favicon: string;
    thumbnail?: string;
  };
}

const { frontmatter } = Astro.props;const { title, subtitle, description, favicon, thumbnail } = Astro.props.frontmatter;
const baseUrl = import.meta.env.BASE_URL;
const prefix = baseUrl.endsWith("/") ? baseUrl : baseUrl + "/";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    {description && <meta name="description" content={description} />}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content={Astro.generator} />

    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-QKC6WH4WSS"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'G-QKC6WH4WSS');
    </script>
    <!-- End Google Analytics -->

    <link rel="icon" type="image/svg+xml" href={prefix + favicon} />

    <meta property="og:title" content={title} />
    {description && <meta property="og:description" content={description} />}
    <meta property="og:type" content="website" />
    {thumbnail && <meta property="og:image" content={prefix + thumbnail} />}

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/katex@0.15.1/dist/katex.css"
      integrity="sha384-WsHMgfkABRyG494OmuiNmkAOk8nhO1qE+Y6wns6v+EoNoTNxrWxYpl5ZYWFOLPCM"
      crossorigin="anonymous"
    />
    
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400;700&display=swap" rel="stylesheet">
    <title>{title}</title>
  </head>
  <body
    class="flex flex-col gap-4 items-center pt-12 pb-6 w-full *:px-6 *:max-w-[60rem]"
  >
    <slot />

    <footer class="m-auto text-center">
      <p class="text-zinc-500 text-sm">
        The website template was borrowed from  <a
        href="https://github.com/RomanHauksson/academic-project-astro-template"
        >Roman Hauksson</a
      >. Please contact <a href="https://fanegg.github.io/">Yue Chen</a> for feedback and questions.
    </p>
    </footer>
  </body>
</html>

<style is:global>
  body {
    font-family: "Google Sans", sans-serif;
    @apply text-zinc-900 bg-white;
  }
  a {
    @apply text-blue-500 hover:underline;
  }
  p {
    @apply text-lg w-full;
  }
  h1 {
    @apply text-5xl text-center font-bold;
  }
  h2 {
    @apply w-full text-3xl font-bold text-center;
    margin-top: 2rem; margin-bottom: 0.5rem;
  }
  .text-center {
    text-align: center;
  }

  .left-align {
    text-align: left;
  }
  h3 {
    @apply w-full text-2xl font-bold;
  }
  h4 {
    @apply w-full text-xl font-bold;
  }
  h5 {
    @apply w-full font-bold;
  }
  table {
    @apply border-y-2 border-black;
  }
  thead {
    @apply border-b border-black;
  }
  th,
  td {
    @apply px-4;
  }
  ul {
    @apply prose list-disc list-inside w-full;
  }
  ol {
    @apply prose list-decimal list-inside w-full;
  }
</style>
